.intro{
background-image: url("images/h_img.jpg");
background-size: cover;
margin: 10px;
color: white;
text-align: center;
}
.two{
  text-align: center;
  font-size: 10px;
  font-family: arial;
}
.about{
  background-image: url("images/s_image.jpg");
  background-size: cover;
  height: 300px;
  width: 1200px;
  display: block;
  margin: auto;
  color: white;
  text-align: center;
  padding-top: 70px;
}
#pen {
  text-align: center;
  padding: 20px;
}
#port{
  text-align: center;
}
.col-md-3 {
padding: 6px;
}
.form {
  background-image: url("images/c_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  width: 1400px;
  display: block;
  margin: auto;
  padding: 70px;
}
#name, #email, #message{
  background-color: transparent;
  color: white;
}
.media {
  position: absolute;
  left: 28%;
  margin: 10px;
  padding: 10px;
}
